.contenedor-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202225;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  padding: 20px;
  width: 500px;
  color: #ffffff;
}

.location h2 {
  font-size: 1.5em;
  margin: 0;
}

.location p {
  margin: 10px 0;
}

button {
  background-color: #547ed7;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #e68a00;
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}
